.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  outline: red solid 1px;
 /* выше установили ограничения для секции */
}

.logo {
  background-image: url("../images/logo_place_header.svg");
  width: 228px;
  height: 32px;
}

.logo_place_header {
position: absolute;
margin: 30px 0 0 64px;
z-index: 2;
outline: red solid 1px;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  align-self: center;
  color: #000;
  line-height: 96px;
  font-weight: 600;
  font-size: 102px;
  z-index: 2;
  outline: red solid 1px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  color: #000;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  z-index: 2;
  outline: red solid 1px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  position: absolute;
  outline: red solid 1px;
}

.header__main-illustration  {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  outline: red solid 1px;
}

.content {
  outline: red solid 1px;
}

.description {
  margin-top: 100px;
  outline: red solid 1px;
}

.two-columns {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  outline: green solid 1px;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  /*outline: blue solid 1px;*/
  background-color: orange;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  color: #000;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  /*outline: orangered solid 1px;*/
}

.two-columns__paragraph {
  background-color: rgb(155, 105, 105);
  margin: 0;
}

.two-columns__paragraph:not(:last-child) {
  padding-bottom: 30px;
}

.two-columns__span-accent {
  color: #000;
  line-height: 34px;
  font-weight: 600;
  font-size: 24px;
}

.digits {
  margin: 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: red solid 1px;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-weight: 600;
  font-size: 60px;
  outline: red solid 1px;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
   outline: red solid 1px;
}

.table {
  width: 1100px;
  background-color:aqua;
  
  /*outline: red solid 1px;*/
}

.table__row {
  width: 1100px;
  margin-top: 60px;
  display: inline-flex;
  justify-content: space-between;
  background-color: #2f80ed;
}

.table__cell  {
  width: 250px;
  background-color: aliceblue;
  /*outline: red solid 1px;*/
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-weight: 600;
  font-size: 24px;
 }

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
}

.feynman {
  width: 867px;
  height: 637px;
  display: flex;
  flex-direction: column;
  background-color: #616060;
  background-image: url("../images/feynman.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  outline: red solid 1px;
}

.kaufman {
  padding: 90px 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #000;
  overflow: hidden;
  outline: red solid 1px;
}

.section-title_theme_dark {
  width: 60%;
  text-align: center;
  margin: 0 0 20px 0;
  color: white;
  line-height: 1.15;
  font-weight: 600;
  font-size: 60px;
  z-index: 1;
  outline: red solid 1px;
}

.section-subtitle_theme_dark {
  width: 60%;
  text-align: center;
  margin: 0;
  color: white;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  z-index: 1;
   outline: red solid 1px;
}

.table_theme_dark {
  width: 1100px;
  z-index: 1;
  outline: red solid 1px;
}

.table__row_theme_dark {
  width: 1100px;
  display: inline-flex;
  justify-content: space-between;
  outline: red solid 1px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  outline: red solid 1px;
}

.table__heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-weight: 600;
  font-size: 24px;
 }

.table__text_theme_dark {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
}

.kaufman_triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  right: -210px;
  position: absolute;
}

.footer {
  margin: 60px 0 40px;
  outline: red solid 1px;
}
